body {
	background-color: black;
	color: white;
	font-family: arial;
}

input[type=checkbox], input[type=radio] {
  transform: scale(1.5);
}

form {
	margin: auto;
	width: 1200px;
	margin-top: 20px;
}

a:link, a:visited {
    color: #6ceeff;
    text-decoration: none;
}

.setDivider {
	margin-bottom: 20px;
}

#card {
	height: 300px;
}

.container {
	display: inline-block;
	position: relative;
	width: 580px;
}

.scrollWrapper {
	overflow: auto;
}

.mainContainer {
	padding: 5px;
	width: 1400px;
	margin: auto;
}

.mainContainer > div {
	display: inline-block;
}

.border {
	border: 1px solid white;
}

#cardName {
	color: red;
	float: right;
	text-align: center;
	margin-left: 150px;
	font-size: 30px;
}

.ui {
	padding: 20px;
}

.disabled {
	display: none;
}

canvas {
}

td {
	font-size: 16px;
}

div > input, div > span{
	font-size: 14px;
}

.red {
	color: #ff2a2a;
}
.minus {
	font-size: 12px;
	color: #ff2a2a;
}

.green {
	color: lightGreen;
}
.plus {
	font-size: 12px;
	color: lightGreen;
}

.moveTable {
	border-collapse: collapse;
	margin-bottom: 10px;
	margin-top: 10px;
	margin: auto;
	width: 1000px;
}

.moveTable th, .moveTable td {
	border: 1px solid white;
	text-align: center;
}

.moveTable tr.sort th:hover {
	background-color: white;
	color: black;
}

.moveTable .set {
	font-size: 14px;
}

.checkWrapper {
	width: 100%;
	border: 1px solid white;
	padding: 10px;
}

.checkContainer {
	display: inline-block; 
	margin-right: 25px; 
	margin-bottom: 10px;
}

.dataTables_wrapper {
	padding: 10px;
}

.dataTables_wrapper {
	margin-bottom: 20px;
}

#set, #type, #rarity, #depth, #minPrice, #maxPrice, #availChange {
	text-align: center;
	display: block;
	font-size: 14px;
	color: lightGreen;
	margin-bottom: 10px;
}


#depth, #minPrice, #maxPrice {
	font-size: 18px;
}

.inputContainer {
	display: inline-block;
	margin-right: 14px;
	text-align: center;
}