body {
	background-color: black;
	color: white;
}

.container {
	display: inline-block;
	position: relative;
	width: 48%;
	margin-right: 20px;
	height: 340px;
}

.mainContainer {
	height: 750px;
	width: 1400px;
	padding: 5px;
}

.border {
	border: 1px solid white;
}

#cardName {
	color: red;
	float: right;
	text-align: center;
	margin-left: 350px;
	font-size: 30px;
}

.ui {
	position: absolute;
	top: 365px;
}

.disabled {
	display: none;
}

canvas {
}

div > input, div > span{
	font-size: 18px;
}

.red {
	color: red;
}

.green {
	color: lightGreen;
}

.moveTable {
	border-collapse: collapse;
	margin-bottom: 20px;
	margin-top: 20px;
}

.moveTable th, .moveTable td {
	border: 1px solid white;
	text-align: center;
}

.moveTable tr.sort th:hover {
	background-color: white;
	color: black;
}

.moveTable .set {
	font-size: 20px;
}

.checkContainer {
	display: inline-block; 
	margin-right: 20px; 
	margin-bottom: 10px;
}

.dataTables_wrapper {
	padding: 10px;
	width: 1200px;
	border: 1px solid white;
}

.dataTables_wrapper {
	margin-bottom: 50px;
}

#set, #type, #rarity {
	text-align: center;
	padding: 3px;
	display: block;
	width: 100px;
	font-size: 20px;
	
}

.toggle:hover {
	background-color: white;
	color: black;
}

.checkWrapper {
	width: 900px;
	margin-bottom: 20px;
}

#depth, #minPrice, #maxPrice {
	font-size: 18px;
}

.inputContainer {
	display: inline-block;
	margin-right: 20px;
	text-align: center;
}