body {
	background-color: black;
	color: white;
	font-family: arial;
}

input[type=checkbox], input[type=radio] {
  transform: scale(1.5);
}

.upper {
	margin: auto;
	width: 1200px;
}

.lower {
	display: inline-block;
	width: 200px;
	margin: auto;
}

a:link, a:visited {
    color: #6ceeff;
    text-decoration: none;
}

.setDivider {
	padding: 7px;
}

#card {
	width: 215px;
	font-size: 16px;
}

#card div {
	text-align: center;
}

.container {
	display: inline-block;
	position: relative;
	width: 400px;
}

.scrollWrapper {
	overflow: auto;
}

.mainContainer {
	padding: 5px;
	width: 1400px;
	margin: auto;
}

.mainContainer > div {
	width: 75%;
	margin: auto;
}

.mainContainer > div > div {
	margin: auto;
	display: inline-block;
}

.border {
	border: 1px solid white;
}

#cardName {
	font-size: 20px;
	width: 300px;
	margin-left: 30px;
}


.reprints {
	padding: 8px;
}

.reprints div {
	display: inline-block;
	margin-left: 10px
}

.disabled {
	display: none;
}

canvas {
}

td {
	font-size: 14px;
}

div > input, div > span{
	font-size: 14px;
}

.red {
	color: #ff2a2a;
}
.minus {
	font-size: 12px;
	color: #ff2a2a;
}

.green {
	color: lightGreen;
}
.plus {
	font-size: 12px;
	color: lightGreen;
}

.moveTable {
	border-collapse: collapse;
	margin-bottom: 10px;
	margin-top: 10px;
	margin: auto;
	width: 1000px;
}

.moveTable th, .moveTable td {
	border: 1px solid white;
	text-align: center;
}

.moveTable tr.sort th:hover {
	background-color: white;
	color: black;
}

.moveTable .set {
	font-size: 14px;
}

.checkWrapper {
	width: 100%;
	border: 1px solid white;
	padding: 10px;
}

.checkContainer {
	display: inline-block; 
	width: 80px;
	margin: auto;
}

.checkContainer.set {
	display: inline-block; 
	width: 75px;
	margin: auto;
	margin-bottom: 10px;
}

.dataTables_wrapper {
	apadding: 10px;
	margin-bottom: 5px;
}

.sort {
	border-top: 3px solid #0042b4;
}

#set, #type, #rarity, #depth, #minPrice, #maxPrice, #availChangeMin, #availChangeMax {
	text-align: center;
	display: block;
	font-size: 12px;
	color: lightGreen;
	margin-bottom: 10px;
}

.inputContainer {
	display: inline-block;
	margin-right: 14px;
	text-align: center;
}